<h1 class= "heading">Animals</h1>

<div class="animal-info">


    <% for animal in @animals %>

  <div class="animal-info-cell">
      <img class="animals-image" src="<%= animal.image %>" alt="">

    <h2>Species:  <%= animal.species  %></h2>
    <h2> Adoptable: <%= animal.adoptable ? "yes" : "no" %></h2>
    <h2>Adoption Month: <%= animal.adoption_month %></h2>

  </div>
    <% end %>

</div>


<a class="adopt_link" href="/adoptions/new">Adopt</a>
