<h1>Animals</h1>
<% for animal in @animals %>
<p> <%= animal.species  %></p>
<p> <%= animal.adoption_month %></p>
<p><%= animal.adoptable ? "yes" : "no" %></p>
<% end %>


<!-- Need Adoption button -->

<a href="/adoptions/new">Adopt</a>
