<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="/images/red_squirrel.png" />

  <meta charset="utf-8">
  <title>Wean's World</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <main class="flex--row">
    <nav class="navigation">
      <ul>
        <li>
          <a href="/heroes">Heroes</a>
        </li>
        <li>
          <a href="/animals">Animals</a>
        </li>
        <li><a href="/adoptions">Adoptions</a></li>
      </ul>
    </nav>


    <h1>Wean's World</h1>

    <div class="banner">

    </div>
    <section id="content">
      <%= yield %>
    </section>

  </main>
</body>
</html>
