body {
  background: black;
  font-family: 'Roboto', sans-serif;
  color: white;
}

body h1 {
  text-align: center;
}

.banner {
  background-image: url('/images/mushroom_woods.jpeg');
  background-size: cover;
  height: 300px;
  background-position: center;
  margin:auto;
}

.navigation {
  display: inline;
  background-position: center;
}

.navigation ul {
  list-style: none;
  padding: 10;
  display: flex;
}

.navigation ul li {
  flex: 1;
}

.navigation li a {
  display: block;
  padding: 10px;
  text-align: center;
  color: white;
}

.navigation li a img {
  height: 50px;
}

.adopt_link {
  color: white;
  padding:10px;
}

.animals-table {

}
