<h1 class= "heading">Heroes</h1>

<div class="hero-info">


    <% for hero in @heroes %>

  <div class="hero-info-cell">
    <img class="heroes-image" src="<%= hero.image %>" alt="">

    <p class= "hero-name">Name: <%= hero.name %></p>
  </div>

<% end  %>

</div>
